.header {
  width: 100%;
  height: 6rem;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  background-color: #252424;
  gap: 0;
}

.header h1 {
  color: white;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}