
.outer{
    text-align: center;
    padding-top: 1rem;
}

.productGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 16px;
    margin: 0 auto; 
    width: 80%;
    height: 70vh;
    overflow-y: scroll;
    scrollbar-width: none;
}